INPUT.TEXT {
	BACKGROUND-COLOR: #000099; BORDER-BOTTOM: #99CCCC 1px solid; BORDER-LEFT: #99CCCC 1px solid; BORDER-RIGHT: #99CCCC 1px solid; BORDER-TOP: #99CCCC 1px solid; COLOR: #336633; FONT-FAMILY: Verdena; FONT-SIZE: 10px; HEIGHT: 18px; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
INPUT.password {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: #00CCFF 1px solid; BORDER-LEFT: #00CCFF 1px solid; BORDER-RIGHT: #00CCFF 1px solid; BORDER-TOP: #00CCFF 1px solid; COLOR: #0080FF; FONT-FAMILY: Verdena; FONT-SIZE: 10px; HEIGHT: 18px; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}
TEXTAREA {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: #a8b2bb 1px solid; BORDER-LEFT: #a8b2bb 1px solid; BORDER-RIGHT: #a8b2bb 1px solid; BORDER-TOP: #a8b2bb 1px solid; COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
SELECT {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: #99CCCC 1px solid; BORDER-LEFT: #99CCCC 1px solid; BORDER-RIGHT: #99CCCC 1px solid; BORDER-TOP: #99CCCC 1px solid; COLOR: #336633; FONT-FAMILY: Verdana; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
BODY {	BACKGROUND-COLOR: #CCCCCC; BORDER-BOTTOM: #99CCCC 1px solid; BORDER-LEFT: #99CCCC 1px solid; BORDER-RIGHT: #99CCCC 1px solid; BORDER-TOP: #99CCCC 1px solid; COLOR: #336633; FONT-FAMILY: Verdana; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}