<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="csrfSettings"  type="Idunno.AntiCsrf.Configuration.CsrfSettings, Idunno.AntiCsrf" />-->
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.8"/>
    <httpModules>
      <!-- Anti CSRF-->
      <!--<add name="AntiCSRF" type="Idunno.AntiCsrf.AntiCsrfModule, Idunno.AntiCsrf"/>-->
      <add name="SampleSqlInjectionScreeningModule1" type="Sample.SampleSqlInjectionScreeningModule"/>
    </httpModules>
    <customErrors mode="off" defaultRedirect="error.html">
      <error statusCode="500" redirect="error500.aspx?code=500"/>
      <error statusCode="404" redirect="filenotfound.aspx"/>
      <error statusCode="403" redirect="authorizationfailed.aspx"/>
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx" protection="All" timeout="100" slidingExpiration="true" cookieless="UseCookies"/>
    </authentication>
    <machineKey validationKey="90CBB9B2FAD04C6F869A58D6A42AED0D13F3440227CD725F6008BC4835B7C0BFBEFFAE214DC81DAE3CD7E395A70B0D6C492EFB8C8BE69F9E86D006D2320FE524" decryptionKey="69A5A438452FCB3C031FEA245DEF770191A16609E9E4A62F" validation="SHA1" decryption="3DES"/>
    <!--<authorization>
      <deny users ="?" />
      <allow users = "*" />
    </authorization>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="PSC_Login.aspx"/>
      </files>
    </defaultDocument>
    <!-- Security-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept,Authorization"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST,OPTIONS"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
        <verbs>
          <add verb="OPTIONS" allowed="true"/>
          <add verb="DELETE" allowed="false"/>
          <add verb="TRACE" allowed="false"/>
          <add verb="HEAD" allowed="false"/>
          <add verb="PROPFIND" allowed="false"/>
          <add verb="COPY" allowed="false"/>
          <add verb="LOCK" allowed="false"/>
          <add verb="UNLOCK" allowed="false"/>
          <add verb="PROPPATCH" allowed="false"/>
          <add verb="MKCOL" allowed="false"/>
          <add verb="MOVE" allowed="false"/>
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="Algorithm" value="MD5"/>
    <add key="ACCOUNT_ID" value="18658"/>
    <add key="SECRET_KEY" value="8fa1b0529d5cba8ea9cf5a437464805f"/>
    <add key="PAYMENT_URL" value="https://secure.ebs.in/pg/ma/payment/request/"/>
    <add key="PAYMENTRESPONSE" value="http://apeda.gov.in/tracecons/Payment/"/>
    <!--<add key="ConnectionString" value="user id=sa;password=apeda@123;data source=192.168.120.15\mssqlserver1;initial catalog=Tracenet_testing"/>-->
    <!--<add key="ConnectionString" value="user id=sa;password=apeda@123;data source=192.168.120.15;initial catalog=GrapeNet"/>-->
    <!--<add key="ConnectionString" value="user id=sa;password=lsipl;data source=192.168.110.117;initial catalog=grapenet"/>-->
    <!--<add key="ConnectionString" value="dXNlciBpZD1zYTtwYXNzd29yZD1ybXA7ZGF0YSBzb3VyY2U9MjAzLjE5Ni4xMzAuMTk7aW5pdGlhbCBjYXRhbG9nPVRyYWNlTmV0"/>
       
    <add key="ConnectionStringLocal" value="dXNlciBpZD1zYTtwYXNzd29yZD1ybXA7ZGF0YSBzb3VyY2U9bG9jYWxob3N0O2luaXRpYWwgY2F0YWxvZz10cmFjZW5ldA=="/>-->
    <add key="ConnectionString" value="user id=sa;password=apeda@123;data source=10.202.52.26;initial catalog=TraceNet_New"/>
    <!--<add key="SMTPServer" value="192.168.110.2"/>-->
    <!--<add key="SMTPPort" value="5000"/>-->
    <!--<add key="appserver" value="localhost"/>-->
    <!--<add key="appserver" value="192.168.110.6"/>-->
    <add key="schemaName" value="APEDA."/>
    <add key="ConvRate" value="66.5653"/>
    <add key="Algorithm" value="MD5"/>
    <add key="ACCOUNT_ID" value="18658"/>
    <add key="SECRET_KEY" value="8fa1b0529d5cba8ea9cf5a437464805f"/>
    <add key="PAYMENT_URL" value="https://secure.ebs.in/pg/ma/payment/request/"/>
    <add key="PAYMENTRESPONSE" value="http://traceability.apeda.gov.in/grapenet/tracecons/Payment/"/>
  </appSettings>
  <!--<csrfSettings cookieName="__CSRFCOOKIE" formFieldName="__CSRFTOKEN" detectionResult="RaiseException" errorPage="csrfattack.htm" />-->
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>